
<div class="navbar">
  <div class="logo">
    <h2>Simple Airbnb</h2>
  </div>

  <div class="right">
    <input type="text">
    <a href="#">Search</a>
    <a href="#">Add Flat</a>
  </div>
</div>


<div class="container">
  <h1>All our Flats</h1>
  <p>All 1 flats.</p>
  
  
  
  <div class="card">
    <div class="image">
      <img src="https://images.unsplash.com/photo-1493809842364-78817add7ffb?w=1200" alt="">
    </div>
    <div class="content">
      <h3>Stylish House Close to River Thames</h3>
      <p>5 Queensmill Road London SW6 6JP</p>
      <i class="fas fa-user-friends"></i><p>2</p><i class="fas fa-euro-sign"></i><p>65</p>
    </div>
    <div class="all-btn">
      <a href="#">More info</a>
      <a href="#">Edit</a>
      <a href="#">Remove</a>
    </div>
  </div>
</div>




