// Place all the styles related to the flats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

* {
  font-family: sans-serif;
  margin:0;
  padding: 0;
}

.navbar {
  display: flex;
  background-color: #F8F9FA;
  height: 50px;
}

.container {
  margin: 0 300px;
}

.card {
  // display: flex;
  border: 1px solid rgb(0, 0, 0);
  height: 500px;
  width: 400px;
  text-align: center;
}

.content {
  background-color: #F8F9FA
}

img {
  height: 200px;
  width: 400px;
  
}